.corTamanho{
    background-color: #C5CBCB !important;
    height:90px !important;
}
.corFonte{
    color: #528C3F;
    font-weight:bold;
}
.corLetra{
    font-size: 40 !important;
    color: #528C3F !important;
}
.corTamanho2{
    background-color: #C5CBCB;
    height: 60px;
}
.corrosa{
    color: #F28177;
}