.imagem {
    background-image:url(https://i.imgur.com/7DBQQ2j.jpg);
    background-repeat:no-repeat;
    width: 80vh;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}
.btnCancelar{
    margin-right: 20px !important;
}